div.social
	ul.social__list
		+social__item(youtubeHref, 'youtube')
		+social__item(instagramHref, 'instagram')
		+social__item(facebookHref, 'facebook')
		+social__item(twitterHref, 'twitter')
		+social__item(pinterestHref, 'pinterest')