div.video__controls
	div.controls_icon.controls_play
	input.controls_range.controls_progress(type='range' value='40' min='0' max='100' step='1')
	div.controls_icon.controls_audio
	input.controls_range.controls_volume(type='range' value='38' min='0' max='100' step='1')
	div.controls_icon.controls_fullscreen