@mixin flex-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin none-select {
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin trans-slow {
	-webkit-transition: 1s linear;
	-moz-transition: 1s linear;
	-o-transition: 1s linear;
	transition: 1s linear;
}
@mixin trans-medium {
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	transition: 0.5s linear;
}

@mixin trans-fast {
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

@mixin gold-filter {
	filter: invert(60%) sepia(7%) saturate(1802%) hue-rotate(356deg) brightness(160%) contrast(77%);
}

@mixin gray-filter {
	filter: invert(64%) sepia(0%) saturate(0%) hue-rotate(184deg) brightness(130%) contrast(88%);
}

@mixin red-filter {
	filter: invert(11%) sepia(26%) saturate(6519%) hue-rotate(352deg) brightness(50%) contrast(102%);
}
@mixin for-laptop-up {
	@media (max-width: 1500px) {
		@content;
	}
}
@mixin for-laptop-mid {
	@media (max-width: 1300px) {
		@content;
	}
}
@mixin for-laptop-down {
	@media (max-width: 1150px) {
		@content;
	}
}

@mixin for-laptop {
	@media (max-width: 1024px) {
		@content;
	}
}
@mixin for-laptop-form {
	@media (max-width: 1023px) {
		@content;
	}
}
@mixin for-tablet-up {
	@media (max-width: 950px) {
		@content;
	}
}
@mixin for-tablet-mid {
	@media (max-width: 850px) {
		@content;
	}
}

@mixin for-tablet {
	@media (max-width: 768px) {
		@content;
	}
}
@mixin for-tablet-down {
	@media (max-width: 700px) {
		@content;
	}
}

@mixin for-phone-up {
	@media (max-width: 610px) {
		@content;
	}
}
@mixin for-phone-mid {
	@media (max-width: 510px) {
		@content;
	}
}
@mixin for-phone {
	@media (max-width: 420px) {
		@content;
	}
}
@mixin for-phone-down {
	@media (max-width: 410px) {
		@content;
	}
}