// colors
$main-color: #710707;
$additional-color: #9d8665;
$dark-gold-color: #7E6C51;
$light-gold-color: #D2B183;
$dark-color: #030303;
$light-color: #ffffff;
$so-dark-gray-color: #333333;
$dark-gray-color: #999999;
$gray-color: #666666;
$light-gray-color: #C4C4C4;

$title-font: 'Forum', cursive;
$text-font: 'Roboto', sans-serif;

// img src
$youtube-src: 'assets/svg/youtube.svg';
$instagram-src: 'assets/svg/instagram.svg';
$facebook-src: 'assets/svg/facebook.svg';
$twitter-src: 'assets/svg/twitter.svg';
$pinterest-src: 'assets/svg/pinterest.svg';
