.social {
  width: 50%;
  padding-bottom: 30px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  @include for-laptop {
    padding-bottom: 28px;
  }
  @include for-tablet-up {
    margin-top: 24px;
    padding-bottom: 0;
    width: 100%;
  }
  @include for-phone {
    justify-content: center;
    margin-top: 10px;
  }
}

.social__list {
  width: 340px;
  display: flex;
  justify-content: space-between;
  @include for-tablet-up {
    margin-right: 90px;
  }
  @include for-phone {
    width: 260px;
    margin-right: 0;
  }
}

.social__link {
  width: 48px;
  height: 48px;
  @include flex-center;
  box-sizing: border-box;
  border: 1px solid $gray-color;
  filter: drop-shadow(0px 0px 0px $gray-color);
  border-radius: 50px;
}

.social__icon {
  width: 24px;
  height: 24px;

  &_youtube {
    background-image: url($youtube-src);
  }
  &_instagram {
    background-image: url($instagram-src);
  }
  &_facebook {
    background-image: url($facebook-src);
  }
  &_twitter {
    background-image: url($twitter-src);
  }
  &_pinterest {
    background-image: url($pinterest-src);
  }

}

.social__link:hover {
  border: 1px solid $additional-color;
  @include trans-medium;
}

.social__link:hover .social__icon {
  @include gold-filter;
  @include trans-medium;
}