.tickets__form {
	width: 660px;
  display: flex;
  justify-content: space-between;

  @include for-laptop-up {
    width: 39%;
  }
  @include for-laptop-mid {
    width: 175px;
  }
}

.tickets__subtitle {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  @include for-phone-mid {
    font-size: 16px;
    line-height: 19px;
    margin-left: auto;
    margin-right: auto;
  }
}

.type__container {
  margin-top: 51px;
}

.tickets__type {
  @include for-laptop-mid {
    display: none;
  }
}

.tickets__amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include for-laptop {
    align-items: flex-start;
  }
  @include for-phone-mid {
    margin-top: 33px;
  }
}

.amount__container {
  margin-top: 15px;
  @include for-laptop {
    margin-top: 0;
  }
  @include for-tablet {
    margin-top: 15px;
  }
  @include for-phone-mid {
    margin-top: 0;
  }
}

.tickets__text {
  margin-top: 11px;
  margin-bottom: 14px;
  @include for-laptop {
    margin-top: 31px;
    margin-bottom: 8px;
  }
  @include for-tablet {
    margin-top: 26px;
  }
  @include for-phone-mid {
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    margin-bottom: 15px;
    letter-spacing: normal;
  }

}

.tickets__result_container {
  display: flex;
  justify-content: space-between;
  @include for-laptop {
    width: 166px;
  }
  @include for-tablet {
    margin-top: 15px;
  }
  @include for-phone-mid {
    margin-left: 4px;
    justify-content: center;
  }
}

.amount__block {
  width: 146px;
  height: 46px;
  border: 2px solid $dark-color;
  @include flex-basic;
  @include for-laptop {
    width: 169px;
    height: 44px;
    border: 3px solid $dark-color;
  }
}

.amount__button {
  cursor: pointer;
  font-family: $text-font;
  font-style: normal;
  font-weight: normal;
  border: none;
  background-color: $light-color;
  font-size: 32px;
  line-height: 37px;
  height: 46px;
  width: 46px;
  text-align: center;
  @include for-laptop {
    width: 44px;
    height: 44px;
    margin-top: 0;
  }
}

.amount__button:hover {
  background: $additional-color;
  @include trans-medium;
}

.amount__input {
  all: unset;

  text-align: center;
}

.tickets__result {
  margin-top: 50px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  @include for-laptop {
    margin-top: 25px;
  }
  @include for-phone-mid {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: normal;
  }
}

#tickets-result {
  @include for-phone-mid {
    margin-left: 4px;
  }
}

@import '_radio-item.scss';