.welcome__controls {
  @include flex-basic;
  width: 451px;
  height: 120px;
  padding-left: 74px;
  padding-right: 75px;
  position: absolute;
  right: 0;
  bottom: -60px;
  background: $dark-color;
  font-size: 22px;
  line-height: 40px;
  color: $light-color;
  @include for-laptop {
    font-weight: normal;
    width: 401px;
    padding-left: 224px;
    font-size: 20px;
    line-height: 40px;
  }
  @include for-tablet {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  @include for-phone {
    height: 70px;
    font-size: 16px;
    bottom: -56px;
  }
}

.welcome__controls_container {
  width: 451px;
  display: flex;
  justify-content: space-between;
  @include for-laptop {
    width: 401px;
  }
  @include for-phone {
    width: 230px;
  }
}
.controls__num {
  width: 76px;
  @include flex-basic;
  @include for-laptop {
    width: 71px;
  }
  @include for-phone {
    width: 50px;
  }
}
.controls__pagination {
  width: 180px;
  @include flex-basic;
  margin-right: 4px;
  @include for-laptop {
    width: 160px;
  }
  @include for-phone {
    width: 75px;
  }
}

.pagination_square {
  width: 16px;
  height: 16px;
  background: $light-color;
  cursor: pointer;
  @include for-laptop {
    width: 12px;
    height: 12px;
  }
  @include for-phone {
    width: 7px;
    height: 7px;
  }
}

.pagination_square:first-child {
  background: $light-gold-color;
}

.pagination_square:hover {
  background: $additional-color;
  @include trans-medium;
}

.controls__buttons {
  width: 80px;
  @include flex-basic;
  @include for-phone {
    width: 55px;
  }
}

.controls__arrow {
  width: 30px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  display: block;
  &_left {
    background-image: url(assets/svg/arrow-left.svg);
    @include for-phone {
      background-image: url(assets/svg/arrow-left-small.svg)
    }
  }
  &_right {
    background-image: url(assets/svg/arrow-right.svg);
    @include for-phone {
      background-image: url(assets/svg/arrow-right-small.svg)
    }
  }
  @include for-phone {
    width: 20px;
  }
}

.controls__arrow:hover {
  @include gold-filter;
  @include trans-medium;
}