// - links href
- let discoverHref = 'tours/tour7.html';

- let colonnadeHref = 'tours/tour3.html';
- let denonHref = 'tours/tour2.html';
- let greekHref = 'tours/tour4.html';
- let monaHref = 'tours/tour5.html';
- let nightHref = 'tours/tour6.html';
- let royalHref = 'tours/tour1.html';

- let welcomeHref = 'https://www.youtube.com/embed/zp1BXPX8jcU';
- let louvreHref = 'https://www.youtube.com/embed/Vi5D6FKhRmo';
- let promenadeHref = 'https://www.youtube.com/embed/NOhDysLnTvY';
- let expositionHref = 'https://www.youtube.com/embed/aWmJ5DgyWPI';
- let petitsHref = 'https://youtu.be/2OR0OCr6uRE';

- let youtubeHref = 'https://www.youtube.com/user/louvre';
- let instagramHref = 'https://www.instagram.com/museelouvre/';
- let facebookHref = 'https://www.facebook.com/museedulouvre';
- let twitterHref = 'http://twitter.com/museelouvre';
- let pinterestHref = 'https://www.pinterest.fr/museedulouvre/';

- let rsHref = 'https://rs.school/';
- let githubHref = 'https://github.com/nat6';

// - img src
- let colonnadeSrc = 'assets/img/visiting-cards/colonnade.webp';
- let denonSrc = 'assets/img/visiting-cards/denon.webp';
- let greekSrc = 'assets/img/visiting-cards/greek.webp';
- let monaSrc = 'assets/img/visiting-cards/mona.webp';
- let nightSrc = 'assets/img/visiting-cards/night.webp';
- let royalSrc = 'assets/img/visiting-cards/royal.webp';

- let beforeSrc = 'assets/img/explore-slider/before.jpg';
- let afterSrc = 'assets/img/explore-slider/after.jpg';

//- - let gallery1Src = 'assets/img/gallery/gallery1.jpg';
//- - let gallery2Src = 'assets/img/gallery/gallery2.jpg';
//- - let gallery3Src = 'assets/img/gallery/gallery3.jpg';
//- - let gallery4Src = 'assets/img/gallery/gallery4.jpg';
//- - let gallery5Src = 'assets/img/gallery/gallery5.jpg';
//- - let gallery6Src = 'assets/img/gallery/gallery6.jpg';
//- - let gallery7Src = 'assets/img/gallery/gallery7.jpg';
//- - let gallery8Src = 'assets/img/gallery/gallery8.jpg';
//- - let gallery9Src = 'assets/img/gallery/gallery9.jpg';
//- - let gallery10Src = 'assets/img/gallery/gallery10.jpg';
//- - let gallery11Src = 'assets/img/gallery/gallery11.jpg';
//- - let gallery12Src = 'assets/img/gallery/gallery12.jpg';
//- - let gallery13Src = 'assets/img/gallery/gallery13.jpg';
//- - let gallery14Src = 'assets/img/gallery/gallery14.jpg';
//- - let gallery15Src = 'assets/img/gallery/gallery15.jpg';

- let ticketsSrc = 'assets/img/tickets.webp';