section.section.contacts(id='contacts')
	div.container.contacts__container
		h2.section__title.section__title_gold.section__title_underline Contacts
		div.contacts__content
			div.contacts__info
				h4.contacts__subtitle Palais Royal Musee du Louvre
				p.contacts__text address: 75001 Paris, France
				p.contacts__text phone: 
					a.contacts__link(href='tel:+33(0)140205050') +33(0) 1 40 20 50 50
				p.contacts__text mail: 
					a.contacts__link(href='mailto:info@louvre.fr') info@louvre.fr
			div.contacts__map
				img.map__img(src='assets/img/map.webp' loading='lazy' alt='map')