section.section.section_dark.explore(id='explore')
	div.container.explore__container
		div.explore__content
			h2.section__title.section__title_light.section__title_underline Picture explore
			div.explore__text_container
				p.explore__text
					| Las Meninas is a 1656 painting by Diego Velázquez, the leading artist of the Spanish Golden Age.
				p.explore__text
					| It was cleaned in 1984 to remove a 
					span.explore__text_gold "yellow veil" 
					| of dust that had gathered since the previous restoration in the 19th century.
				p.explore__text.explore__text_hidden
					| The cleaning provoked furious protests, not because the picture had been damaged in any way, but because it looked different.
		div.explore__slider
			img.explore__img(src='assets/img/explore-slider/temp.webp' loading='lazy' alt='before / after')