footer.footer.section_dark
	div.container.footer__container
		div.footer__block.footer__block_top
			div.footer__nav
				include ../components/_logo.pug
				include ../components/_nav.pug
			include ../components/_social.pug
		div.footer__block.footer__block_bottom
			p.footer__text © 2021
			a.footer__link.footer__text.footer__text_hidden(href=rsHref target='_blank') The Rolling Scopes School
			a.footer__link.footer__text(href=githubHref target='_blank') nat6