section.section.video(id='video')
	div.container.video__container
		div.video__container_top
			h2.section__title.section__title_gold Video journey
			p.video__text Enter and visit one of the most famous museums in the world and enjoy masterpieces such as Mona Lisa or Hammurabi's Code
		div.video__container_bottom
			div.video__main
				div.video__item_main
					+video__item('1440', '650', welcomeHref)
				include ../components/_video-controls.pug
			div.video__more
				+video__item('452', '254', expositionHref, 'lazy')
				+video__item('452', '254', louvreHref, 'lazy')
				+video__item('452', '254', promenadeHref, 'lazy')
			div.video__slider
				div.video__slider_container
					button.button_left
						span.double__arrow.double__arrow_left
					div.video__slider_pagination
						div.pagination__dot.pagination__dot_first
					div.video__slider_pagination
						div.pagination__dot
					div.video__slider_pagination
						div.pagination__dot
					div.video__slider_pagination
						div.pagination__dot
					div.video__slider_pagination
						div.pagination__dot
					button.button_right
						span.double__arrow.double__arrow_right