section.section.visiting(id='visiting')
	div.container.visiting__container
		h2.section__title.section__title_gold.section__title_underline Virtual tour
		div.visiting__cards
			+visiting__card(royalHref, royalSrc, 'Royal Palace')
			+visiting__card(denonHref, denonSrc, 'Denon Wing')
			+visiting__card(colonnadeHref, colonnadeSrc, 'Colonnade Perrault')
			+visiting__card(greekHref, greekSrc, 'Greek hall')
			+visiting__card(monaHref, monaSrc, 'Mona Lisa')
			+visiting__card(nightHref, nightSrc, 'Night Palace')