section.section.section_dark.welcome
	div.container.welcome__container
		div.welcome__content
			h1.section__title.section__title_light Welcome 
			h2.section__title.section__title_light.section__title_welcome to the Louvre
			p.welcome__text From the castle to the museum
			include ../components/_button-discover.pug
		div.welcome__controls
			div.welcome__controls_container
				div.controls__num
					p.controls__item 01
					p.controls__item |
					p.controls__item 05
				div.controls__pagination
					div.pagination_square
					div.pagination_square
					div.pagination_square
					div.pagination_square
					div.pagination_square
				div.controls__buttons
					button.button_left
						span.controls__arrow.controls__arrow_left
					button.button_right
						span.controls__arrow.controls__arrow_right
		div.nav-add
			div.nav-add__images
				img.nav-add__img(src='assets/img/nav-add1.webp' loading='lazy' alt='')
				div.nav-add__img_container
					img.nav-add__img_small(src='assets/img/nav-add2.webp' loading='lazy' alt='')
					img.nav-add__img_small(src='assets/img/nav-add3.webp' loading='lazy' alt='')
			div.nav-add__social
				include ../components/_social.pug