.contacts {
  padding-bottom: 68px;
  @include for-laptop {
    padding-bottom: 56px;
  }
  @include for-tablet {
    padding-bottom: 60px;
  }
  @include for-phone {
    padding-bottom: 33px;
  }
}

.contacts__content {
  margin-top: 103px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  @include for-laptop {
    margin-top: 74px;
    font-size: 20px;
    line-height: 23px;
  }
  @include for-tablet {
    margin-top: 64px;
    flex-direction: column;
    font-size: 18px;
    line-height: 21px;
  }
  @include for-phone {
    font-size: 16px;
    line-height: 19px;
  }
}

.contacts__subtitle {
  margin-bottom: 50px;
  max-width: 227px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;

  @include for-laptop {
    margin-bottom: 35px;
    max-width: 185px;
    font-size: 24px;
    line-height: 28px;
  }
  @include for-tablet {
    margin-bottom: 40px;
    max-width: 155px;
    font-size: 20px;
    line-height: 23px;
  }
  @include for-phone {
    max-width: 124px;
    font-size: 16px;
    line-height: 19px;
  }
}

.contacts__text {
  margin-bottom: 25px;
  @include for-laptop {
    margin-bottom: 15px;
  }
}

.contacts__link {
  color: $dark-color;
}

.contacts__link:hover {
  color: $main-color;
  @include trans-medium;
}
.contacts__map {
  @include for-tablet {
    margin-top: 24px;
  }
}

.map__img {
  object-fit: cover;
  object-position: center center;
  width: 960px;
  @include for-laptop-up {
    width: calc(100vw - 430px);
  }
  @include for-laptop {
    width: calc(100vw - 330px);
    height: calc(65vw - 212px);
  }
  @include for-tablet {
    width: calc(100vw - 40px);
    height: calc(65vw - 21px);
  }
}