@import '../components/_logo.scss';
@import '../components/_nav.scss';

.header__container {
  position: relative;
  padding-top: 59px;
  padding-bottom: 58px;
  @include flex-basic;
  @include for-laptop {
    padding-top: 49px;
    padding-bottom: 48px;
  }
  @include for-tablet {
    padding-top: 45px;
    padding-bottom: 34px;
  }
  @include for-phone {
    padding-top: 35px;
    padding-bottom: 25px;
  }
}

.nav__container .nav {
  @include for-laptop {
    visibility: hidden; 
  }
}

.header__container .nav__list {
  @include for-laptop {
    width: 160px; 
    position: absolute;
    top: 165px;
    left: -200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $dark-color;
  }
  @include for-tablet {
    top: 146px;
  }
  @include for-phone {
    top: 126px;
  }
}

.nav__container .nav__item {
  @include for-laptop {
    margin-bottom: 25px;
  }
}
.header__container .nav__link {
  @include for-laptop {
    position: relative;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
  }
}

.header__container .nav__link::after {
  @include for-laptop {
    content: '';
    position: absolute;
    top: 5px;
    left: 112px;
    width: 9px;
    height: 12px;
    background-image: url(assets/svg/arrow-nav.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}