@import '../components/_ticket-form.scss';

.tickets {
	padding-bottom: 69px;
  @include for-laptop {
    padding-bottom: 55px;
  }
  @include for-tablet-up {
    padding-bottom: 40px;
  }
}

.tickets__container {
	position: relative;
}

.tickets__content {
  margin-top: 103px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  @include for-laptop {
    margin-top: 74px;
    max-width: 955px;
  }
  @include for-tablet-up {
    margin-top: 64px;
    width: 100%;
  }
  @include for-tablet {
    max-width: 679px;
  }
  @include for-phone-mid {
    flex-direction: column;
    align-items: center;
  }
}

.tickets__img_container {
  @include for-tablet-up {
    width: 72%;
  }
  @include for-phone-mid {
    width: 100%;
  }
}

.tickets__img {
  object-fit: cover;
  width: 720px;
  height: 550px;
  @include for-laptop {
    width: 700px;
    height: 440px;
  }
  @include for-tablet-up {
    width: 100%;
    height: 410px;
  }
  @include for-tablet {
    width: 91%;
    height: 340px;
  }
  @include for-phone-mid {
    width: 100%;
    height: 260px;
  }
  @include for-phone {
    // width: 380px;
    height: 160px;
  }
}

.tickets__buy {
  margin-top: 60px;
  border: none;
  @include for-tablet-up {
    margin-top: 30px;
  }
}