@import '../components/_video-controls.scss';
@import '../components/_video-slider-buttons.scss';

.video {
  padding-bottom: 70px;
  @include for-laptop {
    padding-bottom: 55px;
  }
  @include for-tablet {
    padding-bottom: 77px;
  }
  @include for-tablet-down {
    padding-bottom: 50px;
  }
  @include for-phone {
    padding-bottom: 33px;
    padding-top: 39px;
  }
}

.video__container_top {
  @include flex-basic;
}
.video__text {
  max-width: 720px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  @include for-laptop-mid {
    display: none;
  }
}
.video__container_bottom {
  @include for-laptop-up {
    width: 100%;
  }
}

.video__main {
  margin-top: 75px;
  @include for-laptop-mid {
    margin-top: 30px;
  }
  @include for-tablet {
    margin-top: 20px;
  }
  @include for-phone {
    margin-top: 17px;
  }
}

.video__item_main {
  width: 1440px;
  height: 650px;
  @include for-laptop-up {
    width: 100%;
  }
  @include for-laptop {
    height: 444px;
  }
  @include for-tablet {
    height: 329px;
  }
  @include for-phone {
    // width: 380px;
    height: 172px;
  }
}

.video__item_main iframe {
  width: 100%;
  height: 100%;
}

.video__more {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  @include for-tablet {
    margin-top: 21px;
  }
  @include for-phone {
    margin-top: 40px;
  }
  @include for-phone-down {
    margin-top: 15px;
  }
}

.video__more iframe {
  @include for-laptop-up {
    width: calc(33% - 10px);
  }
  @include for-laptop-down {
    height: 200px;
  }
  @include for-laptop {
    width: calc(33% - 24px);
    height: 170px;
  }
  @include for-tablet-up {
    width: calc(33% - 10px);
  }
  @include for-tablet {
    width: calc(50% - 10px);
    height: 199px;
  }
  @include for-tablet-down {
    height: 170px;
  }
  @include for-phone-up {
    height: 140px;
  }
  @include for-phone {
    height: 101px;
  }
  @include for-phone-down {
    width: calc(50% - 5px);
  }
}
.video__more iframe:last-child {
  @include for-tablet {
    display: none;
  }
}